In [1]:
# Add the Pandas dependency.
import pandas as pd
import os

In [2]:
# Files to load
school_data_to_load = os.path.join("Resources","schools_complete.csv")
student_data_to_load = os.path.join("Resources","students_complete.csv")

In [3]:
# Read the school data file and store it in a Pandas DataFrame.
schools_df = pd.read_csv(school_data_to_load)
schools_count = schools_df.school_name.count()
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
# Read the student data file and store it in a Pandas DataFrame.
students_df = pd.read_csv(student_data_to_load)
students_count = students_df.student_name.count()
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
schools_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   School ID    15 non-null     int64
 1   school_name  15 non-null     object
 2   type         15 non-null     object
 3   size         15 non-null     int64
 4   budget       15 non-null     int64
dtypes: int64(3), object(2)
memory usage: 728.0+ bytes

In [6]:
students_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39170 entries, 0 to 39169
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
dtypes: int64(3), object(4)
memory usage: 2.1+ MB

In [7]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [8]:
for word in prefixes_suffixes:
    students_df["student_name"] = students_df["student_name"].str.replace(word,"")

In [9]:
# Check prefix and suffix
students_df[students_df['student_name'].str.contains(r'Dr. |Mr. |Ms. |Miss | MD| DDS| DVM| PhD')]

Empty DataFrame
Columns: [Student ID, student_name, gender, grade, school_name, reading_score, math_score]
Index: []

In [10]:
#Another way to remove prefix and suffix
students_df["student_name"] = students_df['student_name'].str.replace(r'Dr. |Mr. |Ms. |Mrs. |Miss | MD| DDS| DVM| PhD',"")

In [11]:
school_complete_df = students_df.merge(schools_df, on='school_name')
school_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [12]:
school_complete_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

In [13]:
school_names = school_complete_df.school_name.unique()
school_names

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [14]:
#Get total budget by drop duplicates
total_budget = school_complete_df.drop_duplicates(subset=['school_name'])['budget'].sum()

In [15]:
#Average reading score
average_reading_score = school_complete_df['reading_score'].mean()
average_reading_score

81.87784018381414

In [16]:
# Average math score
average_math_score = school_complete_df.math_score.mean()
average_math_score

78.98537145774827

In [17]:
# Passing Math Students
passing_math_df = school_complete_df.loc[school_complete_df.math_score >= 70,:]
passing_math_count = passing_math_df['student_name'].count()
passing_math_count

29370

In [18]:
# Passing Reading Students
passing_reading_df = school_complete_df.loc[school_complete_df["reading_score"] >= 70,:]
passing_reading_count = passing_reading_df.student_name.count()
passing_reading_count

33610

In [19]:
# Passing Math and Reading Students
passing_both_df = school_complete_df.query('math_score >= 70 and reading_score >= 70')
passing_both_count = passing_both_df['student_name'].count()
passing_both_count

25528

In [20]:
# Print out Summary
print('Total students:', students_count)
passing_math_percentage = passing_math_count / students_count *100
print(f'passing math percentage: {passing_math_percentage:.2f}')
passing_reading_percentage = passing_reading_count / students_count *100
print(f'passing reading percentage: {passing_reading_percentage:.2f}')
passing_both_percentage = passing_both_count / students_count *100
print(f'passing math and reading percentage: {passing_both_percentage:.2f}')

Total students: 39170
passing math percentage: 74.98
passing reading percentage: 85.81
passing math and reading percentage: 65.17

In [21]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": schools_count,
          "Total Students": students_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": passing_both_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [22]:
# Format District Summary
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df.iloc[0,5:] = district_summary_df.iloc[0,5:].map("{:.0f}".format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",79.0,81.9,75,86,65

In [23]:
# Reorder the columns
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",79.0,81.9,75,86,65

In [24]:
# School Summary

In [25]:
school_summary_df = school_complete_df.groupby('school_name').agg({'type':'first','student_name':'count','budget':'first','math_score':'mean','reading_score':'mean'})

In [26]:
# Change Columns Title
school_summary_columns = ['School Type','Total Students','Total School Budget','Average Math Score','Average Reading Score']
school_summary_df.columns = school_summary_columns

In [27]:
# Adding Per Student Budget Column
school_summary_df['Per Student Budget'] = school_summary_df['Total School Budget'] / school_summary_df['Total Students']
school_summary_df

,School Type,Total Students,Total School Budget,Average Math Score,Average Reading Score,Per Student Budget
school_name,,,,,,
Bailey High School,District,4976,3124928,77.048432,81.033963,628.0
Cabrera High School,Charter,1858,1081356,83.061895,83.975780,582.0
Figueroa High School,District,2949,1884411,76.711767,81.158020,639.0
Ford High School,District,2739,1763916,77.102592,80.746258,644.0
Griffin High School,Charter,1468,917500,83.351499,83.816757,625.0
Hernandez High School,District,4635,3022020,77.289752,80.934412,652.0
Holden High School,Charter,427,248087,83.803279,83.814988,581.0
Huang High School,District,2917,1910635,76.629414,81.182722,655.0
Johnson High School,District,4761,3094650,77.072464,80.966394,650.0
Pena High School,Charter,962,585858,83.839917,84.044699,609.0
Rodriguez High School,District,3999,2547363,76.842711,80.744686,637.0
Shelton High School,Charter,1761,1056600,83.359455,83.725724,600.0
Thomas High School,Charter,1635,1043130,83.418349,83.848930,638.0
Wilson High School,Charter,2283,1319574,83.274201,83.989488,578.0
Wright High School,Charter,1800,1049400,83.682222,83.955000,583.0

In [28]:
# Passing Math Students
school_passing_math = passing_math_df.groupby('school_name').agg({'student_name':'count'})['student_name']/school_summary_df['Total Students']
school_passing_math_df = pd.DataFrame({"% Passing Reading": school_passing_math})

In [29]:
# Passing Reading Students
school_passing_reading = passing_reading_df.groupby('school_name').agg({'student_name':'count'})['student_name']/school_summary_df['Total Students']
school_passing_reading_df = pd.DataFrame({"% Passing Math": school_passing_reading})

In [30]:
# Both Passing Students
school_both_passing = passing_both_df.groupby('school_name').agg({'student_name':'count'})['student_name']/school_summary_df['Total Students']
school_both_passing_df = pd.DataFrame({"% Overall Passing": school_both_passing})

In [31]:
# Merge Passing Math, Passing Reading, Both Passing
school_summary_df = school_summary_df.merge(school_passing_math_df, left_index=True, right_index=True)
school_summary_df = school_summary_df.merge(school_passing_reading_df, left_index=True, right_index=True)
school_summary_df = school_summary_df.merge(school_both_passing_df, left_index=True, right_index=True)

In [32]:
# Changing Columns Order
school_summary_df = school_summary_df[['School Type', 'Total Students', 'Total School Budget', 'Per Student Budget',
       'Average Math Score', 'Average Reading Score', 
       '% Passing Reading', '% Passing Math', '% Overall Passing']]
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Reading,% Passing Math,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.892272
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.898921
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.903333

In [33]:
# Formatting
school_summary_df['Total School Budget'] = school_summary_df['Total School Budget'].map("${:.2f}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format)

In [34]:
school_summary_df.sort_values(["% Overall Passing"], ascending=False).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Reading,% Passing Math,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,$1081356.00,$582.00,83.061895,83.975780,0.941335,0.970398,0.913348
Thomas High School,Charter,1635,$1043130.00,$638.00,83.418349,83.848930,0.932722,0.973089,0.909480
Griffin High School,Charter,1468,$917500.00,$625.00,83.351499,83.816757,0.933924,0.971390,0.905995
Wilson High School,Charter,2283,$1319574.00,$578.00,83.274201,83.989488,0.938677,0.965396,0.905826
Pena High School,Charter,962,$585858.00,$609.00,83.839917,84.044699,0.945946,0.959459,0.905405

In [35]:
school_summary_df.sort_values(["% Overall Passing"], ascending = True).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Reading,% Passing Math,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,$2547363.00,$637.00,76.842711,80.744686,0.663666,0.802201,0.529882
Figueroa High School,District,2949,$1884411.00,$639.00,76.711767,81.158020,0.659885,0.807392,0.532045
Huang High School,District,2917,$1910635.00,$655.00,76.629414,81.182722,0.656839,0.813164,0.535139
Hernandez High School,District,4635,$3022020.00,$652.00,77.289752,80.934412,0.667530,0.808630,0.535275
Johnson High School,District,4761,$3094650.00,$650.00,77.072464,80.966394,0.660576,0.812224,0.535392